<style>
.x-grid3-cell-inner, .x-grid3-hd-inner {
	white-space:normal;
}
.x-grid3-row td {
	-moz-user-select:text;
	-webkit-user-select:text;
}
</style>
<script src="js/fileman/activity_log.js?v={$app.settings.currentVersion|forURL}"></script>
<script src="?module=fileman&section=utils&v={$app.settings.currentVersion|forURL}&sec=Files%20Activity%20Log&lang={$app.language|forURL}&page=translation.js"></script>
<script>
FR.path = '{$app.path|forHTML|safeJS}';
FR.filename = '{$app.filename|forHTML|safeJS}';
FR.popupId = '{$app.popupId|forHTML|safeJS}';
</script>