body {
	line-height: 1.6;
	font-weight: 400;
	font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}
a {
    text-decoration:none;
    color: #777;
}
a:hover {
    color: #15c;
    text-decoration:underline;
}
.dragged-over {
	box-shadow:inset 0px 0px 0px 2px #4285f4;
	background-color: #e8f0fe;
}
table {
	font-size:12px;
}
.header {
    width: 100%;
    z-index:2;
}
.main {
    margin-top:25px;
    padding: 25px;
    margin-bottom:50px;
}

.header .filename {
    color: #555;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header .filename img {
    margin-right: 2px;
}


a.breadCrumb {
	font-size:24px;
	color: #555;
}
.bcSep {
	color: #777;
	font-size:24px;
	margin-left:5px;
	margin-right:5px;
	display: inline-block;
}

.separator {
	font-size:1px;
	height: 5px;
}

#upStatus {
	margin-top:10px;
	padding:5px;
	white-space:nowrap;
}

.acceptBtn {margin-left:20px;margin-bottom:20px;}

.actionBtn {
    padding:5px 15px;
	display: inline-block;
    cursor: hand;
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border-radius: 2px;
    color: #FFF;
    text-shadow: 0 1px rgba(0,0,0,0.1);
	line-height:18px;
}
.actionBtn:hover {
	color: #FFF;
}
.cancelBtn {
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid #dcdcdc;
	color: #444;
}
.cancelBtn:hover {
	color: #444;
}

.content {
	max-width:830px;margin: 0 auto;
	text-align: center;
}
#loadBar div {
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	background: #29d !important;
	height: 1px !important;
}
.publisherName {
	font-weight: 700;
}

input.name {
	border: 1px solid #d9d9d9;
	border-top-color: #c0c0c0;
	border-radius: 1px;
	padding:10px;
	font-size: 1em;
	text-align: center;
	width: 16em;
}

#firstStep {
	margin-top:40px;
	display:none;
}
#lastStep {
	margin-top:40px;
	display: none;
}
#successMsg {
	margin-top:40px;
	display: none;
	color: green;
	font-size:1.3em;
}
.dragTip {
	font-size:0.7em;
	color: silver;
	margin-top:5px;
}

.avatar {
	border-radius:50%;
}