html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}
body {
    font: 13px 'Roboto', Helvetica, sans-serif;
    color: #000;
	cursor: default;
	overflow: hidden;
	background: #F7F7F7 no-repeat center center fixed;
	background-size: cover;
}

#loadMsg {
	text-align:center;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 30px;
}
#loadMsg div {
	background-color:white;
	border-radius:2px;
	padding:10px;
	box-shadow: 0 4px 8px rgba(0,0,0,.32),0 8px 40px rgba(0,0,0,.4);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-scrollbar {
    height: 16px;
    width: 16px;
    overflow: visible;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

#loginLogoImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left:24px;
    width: 170px;
    height: 170px;
    display:none;
}
#loginText {
    background-color: #F7F7F7;
    padding: 5px;
	color: dimgray;
	font-size:12px;
    width: 155px;
    overflow: auto;
    height: 155px;
    margin-left:24px;
    border-radius: 2px;
    display:none;
}
.loginTextFooter {
    color: dimgray;
    font-size:13px;
}
.loginTextFooter.transparent{
	background-color: rgba(255, 255, 255, 0.9);
}
.loginFormField {
    font-size:16px !important;
    padding-left: 10px !important;
    line-height: 34px !important;
}



a {
    text-decoration: none;
    color: #427fed;
}
a:hover {text-decoration: underline;}

.loginQRCodeWrap {
    margin-top:10px;
    display:inline-block;
    background-image:url(../images/loading.gif);
    background-position: center center;
    background-repeat:no-repeat;
    width:210px;height:210px;
}

#logoContainer {
    height:38px;
    margin-left:28px;
    margin-right:28px;
    overflow:hidden;
}
#logoContainer img {max-height:38px;}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.logo3d {
    margin-left: 28px;
    margin-right: 28px;
    line-height: 1em !important;
    font-size: 23px !important;
    color: #555;
}
.logo3d a {
    text-decoration: none;
    color: #555555;
}

.fr-thumbnail {
	background-size: cover;
	background-position: center;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
	border-radius: 1px;
}
.fr-folder {box-shadow: none;}

.eventItem {
    width: 350px;
}
.eventItem .ico {
    float:left;
    width:50px;
    height:50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.eventItem .txt {
    position:relative;
    float:left;
    width:260px;
    margin:5px;
    color:darkslategray;
}
.eventItem .txt .fn {
    margin-bottom:2px;
    font-size:14px;
    color:#999;
    width:230px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: normal;
}
.eventItem .txt .d {
    margin-top:3px;
    color:#333;
    font-size:12px;
    width:230px;
    white-space: normal;
}
.eventItem .txt .t {
    color:#999;
    font-size:11px;
}
.eventItem .txt .new {
    position:absolute;
    top:5px;
    right:0px;
}




.fr-search-field-item {
    padding: 2px;
    border-left:2px solid white;
}
.fr-search-field-item .ico {
	width:32px;
	height:32px;
	float: left;
}
.x-combo-list .fr-search-field-item.x-combo-selected {
    border-left:2px solid #4586F5;
}
.fr-search-field-item .filename {
    display: inline-block;
    width: 120px;
    padding-left:3px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    padding-top:7px;
	font-size:13px;
}
.fr-search-field-item .size {
	font-size:12px;
    padding-top:8px;
    color: silver;
    float: right;
}

.comments {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 40px;
}
.comments .comment {
	position: relative;
	margin: 10px 5px 1px 5px;
}
.comment .text {
	margin-top:5px;
	margin-left:50px;
	margin-right:5px;
	vertical-align: top;
	border-radius:5px;
	padding: 7px 10px;
	color: #4B4F56;
	line-height: 1.28;
	position:relative;
	background-color: #F1F0F0;
}
.comment .text .inner:after, .comment .text .inner:before {
	position: absolute;
	right: 100%;
	top: 13px;
	border: 4px solid transparent;
	border-right-color: #F1F0F0;
	content: ' ';
	height: 0;
	width: 0;
	pointer-events: none;
	margin-top: -5px;
}
.comment .avatar {
	float: left;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	background-size: cover;
	margin: 0 auto;
}
.comment .name {
	float:left;
	font-size:12px;
	min-width: 35px;
	text-align: center;
}
.comment .time {
	float:right;
	font-size: 11px;
	margin-top: 2px;
	color: #999999;
	margin-right: 5px;
}
.comment.own .name {float:right; margin-right: 5px;}
.comment.own .time {float:left;}
.comment.own .avatar {float:right; margin-right: 5px;}
.comment.own .text {
	margin-right:50px;margin-left:5px;
	background-color: #4285F4;
	color: white;
}
.comment.own .text a {color:white;}
.comment.own .text .inner:after, .comment.own .text .inner:before {
	right: auto;
	left: 100%;
	border-right-color: transparent;
	border-left-color: #4285F4;
}
.comment.followup .name {display:none;}
.comment.followup {margin-top: 0;}
.comment.followup .text {padding: 5px 10px;margin-top: 0;}
.comment.followup .text .inner:after, .comment.followup .text .inner:before {display:none;}
.comments .removeBtn {
	position:absolute;
    width:16px;height:16px;
    top: 2px;
	right: -2px;
    visibility: hidden;
}
.comments .comment:hover .removeBtn {
    visibility: visible;
}
.comments .removeBtn a {
    display: block;
    width:16px;height:16px;
    cursor: pointer;
}
.comments .own .removeBtn a {
	color: white;
}
.comments .removeBtn a:hover {
    text-decoration:none;
}
.commentsEmpty {
    text-align:center;
    color: gray;
    font-size:14px;
    margin-top:30px;
}

.comment .text blockquote {
	border-left: 2px solid silver;
	margin:5px;
	padding-left: 5px;
}
.comment.own .text blockquote {
	border-color: whitesmoke;
}
.comment .text code {
	box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.3);
	border-radius: 2px;
	padding: 1px 3px;
}
.comment .text ul {
	list-style-type: initial;
	margin-left:10px;
}
.comment .text ol {
	list-style-type: decimal;
	margin-left:10px;
}

.fr-cart-item {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin:2px;
    padding:5px;
}
.fr-cart-item .ico {
	width:32px;
	height:32px;
	float: left;
	margin-right: 10px;
}
.fr-cart-item .fa-folder {
	color:gray;
	text-align: left;
	padding-left: 2px;
	padding-right:1px;
	font-size:30px;
	vertical-align:middle;
}


.fr-details-info {
	display: none;
	border-top: 0.5px solid #E1E1E1;
    padding-top:5px;
}
.fr-details-readme {
	display: none;
    border-top: 0.5px solid #E1E1E1;
}

.fr-info-panel .x-tab-strip .x-tab-strip-active span.x-tab-strip-text {
	color: #427fed;
}
.fr-info-panel .x-tab-strip span.x-tab-strip-text {
	color: #7D7D7D;
}

.fr-details-panel {
    color: #222222;
}
.fr-details-panel .status {
    margin: 10px 0;
    padding:5px;
    color: gray;
}
.fr-details-panel .text {
    float: left;
    margin-left: 15px;
}
.fr-details-panel .size {
    float:right;
    margin-right: 15px;
}
.fr-details-panel .fieldsetname {
    background-color: white;
    border-top:0.5px solid #E1E1E1;
    border-bottom:0.5px solid #E1E1E1;
    margin-bottom:5px;
    margin-top:10px;
    padding:5px;
    color: darkgray;
}
.fr-details-panel .fieldsetname a {float:right;padding-top: 2px;color:silver;}
.fr-details-panel .fieldsetname a:hover {color:#427fed;}
.fr-details-panel .tag {
	border-radius: 10px;
	float: left;
	padding: 3px 7px;
	margin-left: 6px;
	margin-bottom: 5px;
	background-color: #f1f1f1;
	color: #424242;
	font-size:12px;
}

.fr-details-previewbox {
    padding:5px 0 5px 10px;
}
.fr-details-previewbox .title {
    display: table;
    margin: 20px 10px;
    font-size:20px;
    color: #000000;
}
.fr-details-previewbox .title .icon {
	display:table-cell;
}
.fr-details-previewbox .title .icon img {
	border-radius:1px;
}
.fr-details-previewbox .title .filename {
	display:table-cell;
	vertical-align:middle;
	padding-left: 10px;
	word-wrap: break-word;
	word-break: break-all;
}
.fr-details-previewbox .title a {
    text-decoration: none;
    color: #555;
}
.fr-details-previewbox .thumb {
	display:none;
	cursor: pointer;
    margin: 0 0 20px 10px;
}

.fr-details-panel td {padding:5px;}
.fr-details-panel .fieldName {
    width:35%;
}
.fr-details-panel .fieldValue {
    word-wrap: break-word;
    word-break: break-all;
}

.fr-details-panel .detailsThumb {
	box-shadow: 0 0 4px 0 rgba(0,0,0,.2)
}


/* Image Preview */
.fr-prv-tbar {
    padding-top: 7px;
	padding-bottom: 7px;
    margin-left: 10px;
}
.fr-prv-tbar .frBtn {
	padding: 9px 8px;
	margin-right:10px;
	color: white;
}
.fr-prv-tbar .frBtn.x-btn-over {
	border-color: transparent;
	background-color: rgba(150,150,150,0.6);
}
.fr-prv-tbar .x-btn-icon .x-btn-text {
	color: white;
}
.fr-prv-tbar .frBtn.x-btn-pressed {
	border-color: transparent;
	background-color: rgba(150,150,150,0.6);
}


.fr-prv-tbar-icon {
    margin-right:5px;
}
.fr-prv-tbar-icon img {
	border-radius:1px;
}
.fr-prv-tbar-filename {
    font-size:14px;
	color:white;
	line-height: 40px;
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
}
.fr-prv-tbar-status {
    width: 100px;
    font-size:13px;color:silver;
    margin-left: 20px;
}
.fr-prv-nav-left-wrap {
    position: absolute;
	top: 45%;
	left: 20px;
    width: 40px;
    height: 40px;
	z-index: 2;
}
.fr-prv-nav-right-wrap {
    position: absolute;
    top: 45%; right: 20px;
    width: 40px;
    height: 40px;
	z-index: 2;
}

.fr-prv-nav-btn {
	margin-top:5px;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.5);
	border-radius: 50%;
	color: white;
	text-align:center;
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background .2s,opacity .34s,transform .34s cubic-bezier(0.4,0.0,0.2,1);
}
.fr-prv-nav-btn:hover {
    background: #4285f4;
}
.fr-prv-nav-btn i {
	margin-top: 14px;
}
.fr-prv-tbar-slider {
    margin-right: 20px;
}
.image-viewer {
	background:rgba(0,0,0,0.95);
}
.image-viewer .canvas {
	position:relative;
	padding: 20px 80px;
}
.image-viewer.mobile .canvas {
	padding: 0px;
}
.image-viewer .centered {
	width: 100%;
	height: 100%;
}
.image-viewer .spinner {
	visibility: hidden;
	position: absolute;
	z-index: 99;
	width: 80px;
	height: 80px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.image-viewer .activeImage {
	visibility:hidden;
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
}
.image-viewer .dragging {
	position: absolute;
}


#explorer-shadow {
    box-shadow: 0 3px 4px rgba(0,0,0,.2);
    height:5px;
    width: 3200px;
    position:absolute;
    left: -20px;
    top:55px;
    z-index:150;
}

table {font-size: 13px;}

table.niceborder {
    background-color: silver;
}
table.niceborder a {
    color: navy;
}
table.niceborder tr.header td {
    background-color: whitesmoke;
    font-weight:bold;
}
table.niceborder td {
    background-color: white;
    padding: 2px;
}
table.niceborder td.header {
    background-color: whitesmoke;
    font-weight:bold;
}

.avatarSelector * {
	border-radius:50%;
}
.avatarSelector .cameraIcon {
	background-image:url(../images/icons/camera_overlay.png);
	background-repeat:no-repeat;
	background-size: 24px;
	background-position:center;
	height:60px;
	width:60px;
	position:absolute;
	bottom:0px;
	left:0px;
	opacity: 0.8;
	background-color: #343434;
	visibility:hidden;
}
.avatarSelector:hover .cameraIcon {visibility:visible;}

.bubbleCount {
	position:relative;
	left: 0;
	top: -4px;
	vertical-align: top;
	display:inline-block !important;
}
.bubbleCount div {
	background-color: #4285F4;
	font-weight: bold;
	border-radius:2px;
	color:white;
	font-size:9px;
	padding:2px 5px;
}
.bubbleCount.alert {
	background-color: #E43539;
}

#FR-AudioPlayer {
	border-bottom:1px solid #E0E0E0;
}
#FR-AudioPlayer .x-panel-body {
	padding: 7px 5px 0 5px;
}
#FR-AudioPlayer iframe {
	height:100%;width:100%;
	border:0;padding:0;
	overflow:hidden;
}
.rating-star {padding-top: 4px;}
.rating-star li {
	color:#FFD700;
	text-shadow: 0 1px 1px gray;
}
.rating-star li.unsel {
	color: whitesmoke;
}
.x-form-field-wrap.rating-star li:hover {
	text-shadow: 0 2px 1px gray;
}