body {
	background-color:white;
}
#loadMsg {
	min-width: 180px;
}
.x-grid3-scroller {overflow-x: hidden;}
#cover {
	border-radius:2px;
	width:110px;
	height:110px;
	margin:5px;
	background-image:url(../../../images/fico/audio.png);
	background-size:cover;
	background-position:center;
}
#songInfo {
	font-size: 11px;
	padding-left: 2px;
}
#songDur {
	font-size:25px;
	color:gray;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	width:180px;
	background-color:white;
}
#loadInfo {
	position:absolute;
	top:30px;
	right:10px;
	text-align:right;
	color:gray;
	max-width: 300px;
}
#closeBtn {
	position:absolute;
	top:0;
	right:0;
	text-align:right;
	color:gray;
}