<script src="js/fileman/share.js?v={$app.settings.currentVersion|forURL}"></script>
<script src="?module=fileman&section=utils&sec=Share%20Files&lang={$app.language|forURL}&v={$app.settings.currentVersion|forURL}&page=translation.js"></script>
<script src="js/fileman/user_chooser.js?v={$app.settings.currentVersion|forURL}"></script>
<script>
FR.shareInfo = {$app.shareInfo};
FR.popupId = '{$app.popupId}';
</script>
<style>
	#usersList .x-tree-ec-icon {
		display: none;
	}
</style>