{lang section="Admin: Settings"}
<script type="text/javascript" src="js/min.php?flow=1&v={$app.settings.currentVersion|forURL}{if $app.config.misc.developmentMode}&debug=1{/if}"></script>
<script>
FR.settings = {$app.AllSettings};
FR.languages = {$app.langs};
ScriptMgr.load({ scripts:[
	'?module=fileman&section=utils&sec=Admin%3A%20Setup&lang={$app.language|forURL}&v={$app.settings.currentVersion|forURL}&page=translation.js',
	'js/cpanel/forms/settings_interface.js?v={$app.settings.currentVersion|forURL}',
]});
</script>