/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 31.36585%; }

@media (max-width: 1115.86314px) {
  .camera_container {
    padding-bottom: 350px; } }
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0; }

.camera_wrap img {
  max-width: none !important; }

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%; }

.camera_src {
  display: none; }

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1; }

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none; }

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0; }

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0; }

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2; }

.camera_loader {
  background: #fff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3; }

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4; }

.camerarelative {
  overflow: hidden;
  position: relative; }

.imgFake {
  cursor: pointer; }

.camera_command_wrap .hideNav {
  display: none; }

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4; }

.showIt {
  display: none; }

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative; }

.camera_caption {
  display: none; }

.cameraContent .camera_caption {
  display: block; }

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  text-align: center; }
  .camera_caption > div {
    height: 100%;
    margin-top: 8.7%; }
    .camera_caption > div h2 {
      color: #91c46c; }
      .camera_caption > div h2 span {
        color: #ffffff; }
      @media (max-width: 1280px) {
        .camera_caption > div h2 {
          font-size: 50px;
          line-height: 50px; } }
      @media (max-width: 768px) {
        .camera_caption > div h2 {
          font-size: 30px;
          line-height: 30px; } }
    .camera_caption > div a {
      color: #ffffff;
      font: 300 25px/98px "FontAwesome";
      top: 13px;
      left: 0;
      margin-top: 39px;
      background: #91c46c;
      width: 99px;
      height: 99px;
      border-radius: 40px;
      padding-left: 1px; }
      .camera_caption > div a:hover {
        background: #5d6166; }

.camera_pag_ul {
  text-align: center; }
  .camera_pag_ul li {
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 8px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #888;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
      background: #333; }
    .camera_pag_ul li + li {
      margin-left: 4px; }
    .camera_pag_ul li > span {
      display: none; }

.camera_nav {
  width: 100%;
  top: 45.8%;
  cursor: pointer;
  position: absolute;
  z-index: 10; }
  @media (max-width: 1280px) {
    .camera_nav {
      top: 75.8%; } }
  .camera_nav .camera_next, .camera_nav .camera_prev {
    font: 300 50px/50px "FontAwesome";
    z-index: 10;
    float: left;
    color: #ffffff; }
    .camera_nav .camera_next:hover, .camera_nav .camera_next:active, .camera_nav .camera_prev:hover, .camera_nav .camera_prev:active {
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      color: #91c46c; }
  .camera_nav .camera_next:before {
    content: "\f105";
    right: 21.4%;
    position: absolute; }
  .camera_nav .camera_prev:before {
    content: "\f104";
    left: 21.4%;
    position: absolute; }

/*# sourceMappingURL=camera.css.map */
