/*==================     Subscribe Form     ======================*/
.subscribe-form {
  position: relative;
  display: block;
  margin-top: 8px; }
  .subscribe-form label {
    border-radius: 40px;
    display: inline-block;
    position: relative;
    padding: 30px 31px 32px;
    background: #fff;
    border: 1px solid #ededed;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .subscribe-form label.name {
    width: 370px; }
  .subscribe-form label.email {
    width: 370px; }
    @media (max-width: 1199px) {
      .subscribe-form label.email {
        width: 300px; } }
    @media (max-width: 991px) {
      .subscribe-form label.email {
        margin-right: 30px; } }
  .subscribe-form input {
    outline: none;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: baseline;
    box-shadow: none;
    color: #c6c8c9;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    height: 22px; }
  .subscribe-form a[data-type="submit"] {
    display: inline-block;
    padding: 31px 44px 31px 45px;
    letter-spacing: 1px;
    float: right;
    text-align: center;
    background: #5d6166;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase; }
    @media (max-width: 1199px) {
      .subscribe-form a[data-type="submit"] {
        padding: 31px 24px 31px 25px;
        float: none; } }
    .subscribe-form a[data-type="submit"]:hover {
      background: #ffffff;
      color: #91c46c; }

.subscribe-form .error, .subscribe-form .success {
  position: absolute;
  bottom: 100%;
  margin-bottom: -10px;
  text-align: left;
  padding: 4px 10px;
  left: 5px;
  top: -6px;
  right: 25px;
  font-size: 10px;
  text-align: right;
  line-height: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.subscribe-form .error {
  display: none;
  color: #f00;
  overflow: hidden;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
.subscribe-form label.invalid .error {
  display: block; }
.subscribe-form .success {
  display: none;
  color: #0f0; }

@media (max-width: 979px) {
  .subscribe-form label.name,
  .subscribe-form label.email {
    display: block;
    width: 100%; }
  .subscribe-form * + label,
  .subscribe-form * + a[data-type='submit'] {
    margin-top: 10px; } }

/*# sourceMappingURL=subscribe-form.css.map */
