


/* #General
================================================== */


html {
	height:100% !important;
	min-height:100% !important;
}
body {
	margin:0;
	padding:0;
	height:100%;
	min-height:100%;
	width:100%;
	background: #FFFFFF;
	font: 14px/22px "ralewayregular", Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #888888;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	letter-spacing:0.5px;
    overflow-x:hidden;
}
.wrap {
	position:relative;
    z-index:inherit;
}
::-moz-selection {
color: #FFFFFF;
}
::selection {
	color: #FFFFFF;
}

/* #Header Section
================================================== */

#header-section {
	line-height:80px;
}
.ha-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	width:100%;
	padding: 0;
	z-index: 10000;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
}
.ha-header.ha-transparent {
	background:transparent;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.ha-header.ha-transparent:hover {
	background:rgb(18,18,18);
	background:rgba(18,18,18,0.5);
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	transition: background 0.5s;
}
.ha-header.ut-header-light {
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.95);
}
.ha-header.ut-header-dark {
	background:rgb(18,18,18);
	background:rgba(18,18,18,0.95);
}
.ha-header-perspective {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	perspective: 1100px;
	-webkit-perspective-origin: 50% 0;
	-moz-perspective-origin: 50% 0;
	perspective-origin: 50% 0;
}
.ha-header-perspective > div {
	position: relative;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;/*overflow: hidden; */
}
.ha-header-front {
	z-index: 2;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.ha-header-small {
	height: 80px;
}
.ha-header-hide {
	height: 80px;
	overflow:hidden;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
.ha-header-show {
	height: 80px;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}
.site-logo {
	text-align:left;
	margin:0;
	height:80px;
	color:#222222;
	text-transform:uppercase;
	line-height:80px;
	position:relative;
}
.ha-header.ha-transparent .site-logo .logo a,
.ut-header-dark .site-logo .logo a {
	color:#FFFFFF;
}
.site-logo .logo {
	font-size:20px;
	margin:0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	display:block;
	position:absolute;
	top:50%;
	margin-top:-12px;
	left:0;
}
.site-logo img {
	max-height:60px;
	vertical-align:middle;
}
.page-header, 
.parallax-header, 
.section-header {
	text-align:center;
	padding-bottom:30px;
	position:relative;
}
.page-title, 
.parallax-title, 
.section-title {
	font-size:30px;
	margin-bottom:20px;
	position:relative;
}
.header-left {
    text-align:left;
}
.header-right {
    text-align:right;
}
.pt-style-1 .parallax-title {
	background-attachment: scroll;
	background-image: url('images/divider.png');
	background-repeat: repeat-x;
	background-position: top center;
	padding-top:20px;
	display:inline-block;
}
.pt-style-1 .page-title, 
.pt-style-1 .section-title {
	background-attachment: scroll;
	background-image: url('images/divider.png');
	background-repeat: repeat-x;
	background-position: center center;
}
.pt-style-1 .page-title span, 
.pt-style-1 .section-title span {
	padding:0 20px;
}
.pt-style-1.header-left .page-title span, 
.pt-style-1.header-left .section-title span {
    padding-left:0;
}
.pt-style-2 .page-title:after, 
.pt-style-2 .parallax-title:after, 
.pt-style-2 .section-title:after {
	content: "";
	display: block;
	background-color: #222222;
	width: 30px;
	height: 1px;
	margin: 15px auto 0;
}
.light .pt-style-2 .page-title:after, 
.light .pt-style-2 .parallax-title:after, 
.light .pt-style-2 .section-title:after {
	background-color: #FFFFFF;
}
.pt-style-2.header-left .page-title:after, 
.pt-style-2.header-left .parallax-title:after, 
.pt-style-2.header-left .section-title:after {
    margin:15px 0 0;
}
.pt-style-3 .page-title, 
.pt-style-3 .parallax-title, 
.pt-style-3 .section-title {
	margin-bottom:25px;
}
.pt-style-3 .page-title span, 
.pt-style-3 .parallax-title span, 
.pt-style-3 .section-title span {
	color:#FFFFFF;
	padding:5px 10px;
	border: 3px solid #FFFFFF;
	display:inline-block;
}
.pt-style-4 .page-title span, 
.pt-style-4 .parallax-title span, 
.pt-style-4 .section-title span {
	display:inline-block;
	border:3px solid #222222;
	padding:4px 8px;
}
.light .pt-style-4 .parallax-title span, 
.light .pt-style-4 .section-title span {
	display:inline-block;
	border:3px solid #FFFFFF;
	padding:4px 8px;
}
.pt-style-5 .page-title, 
.pt-style-5 .parallax-title, 
.pt-style-5 .section-title {
	margin-bottom:25px;
}
.pt-style-5 .page-title span, 
.pt-style-5 .section-title span {
	color:#FFFFFF;
	padding:5px 10px;
	border: 3px solid #FFFFFF;
	display:inline-block;
	background:#222222;
	-webkit-box-shadow:0 0 0 3px #222222;
	-moz-box-shadow:0 0 0 3px #222222;
	box-shadow:0 0 0 3px #222222;
}
.pt-style-5 .parallax-title span {
	color:#222222;
	padding:5px 10px;
	border: 3px solid #222222;
	display:inline-block;
	background:#FFFFFF;
	-webkit-box-shadow:0 0 0 3px #FFFFFF;
	-moz-box-shadow:0 0 0 3px #FFFFFF;
	box-shadow:0 0 0 3px #FFFFFF;
}
.pt-style-6 .page-title:after, 
.pt-style-6 .parallax-title:after, 
.pt-style-6 .section-title:after {
	content: "";
	display: block;
	border-bottom:1px dotted #222222;
	width: 30px;
	height: 1px;
	margin: 15px auto 0;
}
.light .pt-style-6 .page-title:after, 
.light .pt-style-6 .parallax-title:after, 
.light .pt-style-6 .section-title:after {
	border-bottom:1px dotted #FFFFFF;
}
.pt-style-6.header-left .page-title:after, 
.pt-style-6.header-left .parallax-title:after, 
.pt-style-6.header-left .section-title:after {
    margin:15px 0 0;
}
.page-title span span, 
.page-title .vcard {
	padding:0 !important;
}
.page-title .vcard a:hover {
	color:#222222;
}
.lead, 
.taxonomy-description {
	font-size:1.125em;
	line-height:150%;
}









/* Hero Unit */

.hero {
	height:100%;
	min-height:100%;
	position:relative;
	overflow:hidden;
	text-align:center;
}
.hero .grid-container {
	height:100%;
	min-height:100%;
	position:relative;
}
.hero-holder {
	display:table;
	position:relative;
	position:relative;
	width:100%;
	height:100%;
}
.hero-inner {
	display:table-cell;
	vertical-align:middle;
	position:relative;
	width:100%;
}
.hero-inner .grid-50 {
    vertical-align:middle;
    display:table-cell;   
}
.hero-inner a {
	color:#FFFFFF;
}
.hero-inner a:hover {
	color:#FFFFFF;
}
.hero-inner p {
	font-size:20px;
	line-height:150%;
}
.ut-split-image img {
    margin:0 auto;
    display:block;
}
.hdh, 
.hth, 
.hdb {
	display:block;
	margin:0 auto;
	width:100%;
}
.hero-title {
	margin:0;
	color:#FFFFFF;
	display:inline-block;
	font-size:5.000em;
    line-height:100%;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.ut-split-hero .hero-title {
    font-size:3.571em;
}
.hero-title span {
	font-weight:normal;
}
.hero-description {
	color:#FFFFFF;
	letter-spacing:0.5px;
	font-size:1.3em;
	margin:0 auto;
	text-transform:uppercase;
	display:inline-block;
    padding-bottom:5px;
}
.hero-description-bottom {
	color:#FFFFFF;
	letter-spacing:0.5px;
	font-size:1.125em;
	margin:10px auto 0 auto;
	display:inline-block;
}
.ut-hero-style-4 .hero-description-bottom,
.ut-hero-style-6 .hero-description-bottom,
.ut-hero-style-7 .hero-description-bottom,
.ut-hero-style-8 .hero-description-bottom,
.ut-hero-style-9 .hero-description-bottom,
.ut-hero-style-10 .hero-description-bottom {
    margin:20px auto 0 auto;
}
.ut-hero-style-1 .hero-title {
	background-attachment: scroll;
	background-image: url('images/divider.png');
	background-repeat: repeat-x;
	background-position: top center;
	padding-top:14px;
}
.ut-hero-style-3 .hero-description {
	border-bottom:3px solid rgb(255, 255, 255);
	border-bottom:3px solid rgba(255, 255, 255, 0.15);
	margin-bottom:5px;
}
.ut-hero-style-4 .hero-title {
	background:#FFFFFF;
	padding:8px 12px;
	color:#222222;
	border:3px solid #222222;
	-webkit-box-shadow:0 0 0 3px #FFFFFF;
 	-moz-box-shadow:0 0 0 3px #FFFFFF;
	box-shadow:0 0 0 3px #FFFFFF;
}
.ut-hero-style-5 .hero-description {
	font-size:1.214em;
	border-bottom:3px solid;
	margin-bottom:5px;
}
.ut-hero-style-6 .hero-title {
	padding:0.429em;
	border:1px solid rgb(255, 255, 255);
	border:1px solid rgba(255, 255, 255, 0.15);
}
.ut-hero-style-4 .hero-description,
.ut-hero-style-6 .hero-description,
.ut-hero-style-7 .hero-description,
.ut-hero-style-8 .hero-description {
	margin-bottom:10px;
    padding-bottom:0;
}
.ut-hero-style-7 .hero-title {
	padding:8px 12px;
	border:3px solid rgb(255, 255, 255);
}
.ut-hero-style-8 .hero-title {
	border-top:2px solid rgb(255, 255, 255);
	border-bottom:2px solid rgb(255, 255, 255);
	padding:10px 0;
}
.ut-hero-style-9 .hero-title {
	border-right:3px solid rgb(255, 255, 255);
	border-left:3px solid rgb(255, 255, 255);
	padding:0 20px;
	margin-top:0;
}
.ut-hero-style-10 .hero-title {
	border-right:3px dashed rgb(255, 255, 255);
	border-left:3px dashed rgb(255, 255, 255);
	padding:0 20px;
	margin-top:0;
}
.ut-hero-style-11 .hero-description {
	 font-size:72px;
     line-height:100%;
     width:100%;
}
.ut-hero-style-11 .hero-title {
	 font-size:130px;
     margin:0;
     width:100%;
}
.ut-hero-style-11 .hero-description-bottom {
    font-size:1.429em;
    font-style:italic;
    width:100%; 
}
.ut-hero-style-11 .hero-btn,
.ut-hero-style-11 .hero-second-btn {
	background:rgb(0,0,0);
    background:rgba(0,0,0, 0.8);
	color:#DDDDDD;
	padding:12px 14px;
	font-size:1.000em;
    letter-spacing:1px;
	font-family: 'ralewaysemibold', Helvetica, Arial, sans-serif;
	text-decoration:none !important;
    border:none !important;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	transition:0.2s all linear;
}
.ut-hero-style-11 .hero-btn:hover,
.ut-hero-style-11 .hero-second-btn:hover {
	color:#FFFFFF;
    background:rgb(0,0,0);
	background:rgba(0,0,0, 1);
}
.hero-btn-holder {
	display:block;
	margin-top:20px;
}
.hero-btn,
.hero-second-btn {
	background:transparent;
	color:#FFFFFF;
	border:1px solid rgb(255, 255, 255);
	border:1px solid rgba(255, 255, 255, 0.15);
	padding:8px 12px;
	font-size:2em;
	cursor:pointer;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:center;
	display:inline-block;
	-webkit-transition:0.2s background linear;
	-moz-transition:0.2s background linear;
	transition:0.2s background linear;
	font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
	text-decoration:none !important;
}
.hero-second-btn {
    margin-left:10px;
}
.hero-btn strong,
.hero-second-btn strong {
    color:#FFFFFF !important;
}
.hero-btn:hover,
.hero-second-btn:hover {
	color:#FFFFFF;
	background:rgba(255, 255, 255, 0.15);
}
.ut-hero-style-5 .hero-btn,
.ut-hero-style-5 .hero-second-btn {
	border:1px solid rgb(255, 255, 255);
	border:1px solid rgba(255, 255, 255, 0.15);
}
.ut-hero-style-4 .hero-btn, 
.ut-hero-style-7 .hero-btn, 
.ut-hero-style-8 .hero-btn, 
.ut-hero-style-9 .hero-btn,
.ut-hero-style-4 .hero-second-btn, 
.ut-hero-style-7 .hero-second-btn, 
.ut-hero-style-8 .hero-second-btn, 
.ut-hero-style-9 .hero-second-btn  {
	border:1px solid rgb(255, 255, 255);
}
.ut-hero-style-10 .hero-btn,
.ut-hero-style-10 .hero-second-btn {
	border:1px dashed rgb(255, 255, 255);
}






/* #Navigation
================================================== */

#navigation {
	font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
	float:right;
}
#navigation ul {
	position: relative;
	float:right;
}
#navigation ul li {
	position:relative;
	display:block;
	float:left;
}
#navigation ul li a {
	white-space:nowrap;
	padding-left:25px;
	color: #555555;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size:11px;
	position:relative;
	text-decoration: none;
	display:block;
}
.ha-transparent #navigation ul li a {
	color:#FFFFFF;
}
.ut-header-dark #navigation ul li a {
	color: #999999;
}
.ha-transparent #navigation ul li a:after {
	content:'•';
	position:absolute;
	top:0;
	color:#FFFFFF;
	left:9px;
}
#navigation ul li a:after {
	content:'•';
	position:absolute;
	top:0;
	color:#222222;
	left:9px;
}
.ut-header-dark #navigation ul li a:after {
	content:'•';
	position:absolute;
	top:0;
	color:#999999;
	left:9px;
}
#navigation ul li:first-child a:after {
	display: none;
}



/* Responsive Menu */

.ut-mm-trigger {
	cursor:pointer;
	text-align:right;
	position:relative;
	line-height:80px;
	height:80px;
}
.ut-mm-button {
	border:none;
	height:50px;
	cursor:pointer;
	margin:15px 0;
	padding:0;
	background:transparent;
}
.ut-mm-button:before {
	content: "\f0ca";
	font-family:'FontAwesome';
	font-size:35px;
	text-align:center;
	background:transparent;
	color:#FFFFFF;
	-webkit-transition:.2s color linear;
	-moz-transition:.2s color linear;
	transition:.2s color linear;
}
.ut-mm-button:hover,
.ut-mm-button:focus,
.ut-mm-button.active {
	background:transparent;
	outline: none !important;
}
#ut-mobile-nav {
	margin:0;
}
.ut-mobile-menu {
	line-height: 150%;
	margin: 0;
}
#ut-mobile-menu {
	margin:30px 0;
	padding:0;
	border-top:1px solid #EFEFEF;
	text-align:left;
	font-size:14px;
	text-transform:uppercase;
     margin-bottom: 100px !important;
}
.ut-mobile-menu .sub-menu {
	margin:0;
}
.ha-transparent .ut-mobile-menu a,
.ut-header-dark .ut-mobile-menu a,
.ut-mobile-menu a {
	color:#555555;
	padding:10px 0;
	border-bottom:1px solid #EFEFEF;
	display:block;
	padding-left:30px;
	position:relative;
	-webkit-transition:none;
	-moz-transition:none;
	transition:none;
}
.ut-header-dark .ut-mobile-menu a,
.ut-header-dark #ut-mobile-menu {
    border-color:#000;   
}
.ut-header-light #ut-mobile-nav {
	background:#FFFFFF;
}
.ut-header-dark #ut-mobile-nav {
	background:#121212;
}
.ha-transparent #ut-mobile-menu,
.ha-transparent #ut-mobile-menu a {
    border-color:#999999;   
}
.ut-header-dark #ut-mobile-menu
.ut-header-dark .ut-mobile-menu a {
	border-color:#222222;
}
.ut-mobile-menu a:after {
	content:'•';
	position:absolute;
	top:10px;
	left:15px;
}
.ut-mobile-menu a:hover:after,
.ut-mobile-menu a:hover {
	color:#FFFFFF;
}
.ut-mobile-menu li {
	padding:0;
	margin:0;
}
/* mobile menu scroll */
#ut-mobile-nav {
	overflow:hidden;
	position:relative;
	left:-10px;
	display: none;
}
.ut-scroll-pane {
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}

/* #Parallax
================================================== */

.parallax-section {
	overflow:hidden;
}
.parallax-content {
	color:#FFFFFF;
	position:relative;
}
.normal-background, .parallax-background {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-repeat:repeat-y;
}
.normal-background {
	background-position:center center;
}
.parallax-background.fixed {
	background-attachment: fixed !important;
}
.parallax-overlay-pattern {
	background-image: url('images/overlay-pattern.png');
}
.parallax-overlay {
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-repeat:repeat;
}










/* #Misc СЂР°Р·РјРµСЂ РїСЂРѕС†РµРЅС‚РѕРІ Р·Р°РіСЂСѓР·РєРё Рё Р»РѕРіРѕС‚РёРї Р·Р°РіСЂСѓР·РєРё
================================================== */




#qLpercentage {
	font-size:12px !important;
	text-transform:uppercase;
	font-family: 'ralewaysemibold';
}

#ut-loader-logo {
	width:400px;
	height:300px;
	display:block;
	position: absolute;
	fontSize: 3em;
	top: 50%;
	left: 50%;
	margin-left: -200px !important;
	overflow:hidden;
}






/* Revolution Slider */ 

.tp-bullets.simplebullets.round .bullet {
	background:none !important;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	width:14px;
	height:14px;
	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255, 0.15);	
}
.tp-bullets.simplebullets.round .selected {
	border-color:#FFFFFF !important;	
}
.themecolor-bg {
	padding:3px 5px;
	color:#FFFFFF;
}
.tp-rightarrow.default,
.tp-leftarrow.default {
	background: none !important;
}
.tp-rightarrow.default:hover:before,
.tp-leftarrow.default:hover:before {
	color:#FFFFFF;
	-webkit-transition:0.2s color linear;
	-moz-transition:0.2s color linear;
	transition:0.2s color linear;
}
.tp-rightarrow.default:before {
	content: "\f105";
	font-family: 'FontAwesome';
	font-size:65px;
	color:rgb(255,255,255);
	color:rgba(255,255,255, 0.15);	
}
.tp-leftarrow.default:before {
	content: "\f104";
	font-family: 'FontAwesome';
	font-size:65px;
	color:rgb(255,255,255);
	color:rgba(255,255,255, 0.15);	
}
.hero-title.ut-glow {
    color:#FFFFFF;
    text-shadow:0 0 40px #FFFFFF, 
                2px 2px 3px black; 
}
.light .section-title.ut-glow,
.light .parallax-title.ut-glow,
.light .page-title.ut-glow,
.light .section-title.ut-glow {
    color:#FFFFFF;
    text-shadow:0 0 40px #FFFFFF, 
                2px 2px 3px black;
}
.dark .section-title.ut-glow,
.dark .parallax-title.ut-glow,
.dark .page-title.ut-glow,
.dark .section-title.ut-glow {
    color:#222222;
    text-shadow:0 0 40px #222222, 
                2px 2px 3px black;
}

/* #Media Queries
================================================== */

/* Phone & Small Tablets */
@media screen and (max-width: 767px) {

.parallax-section {
	background-position:center center !important;
	background-repeat:repeat-y !important;
	/*background-attachment:fixed !important;*/
	background-size:cover !important;
}
#header-section.fullwidth {
    padding:0 10px;
}

/* Hero */
.hero-title,
.ut-split-hero .hero-title {
    font-size:2.143em;
}
.ut-hero-style-1 .hero-title {
	background:none;
	padding:0;
}
.ut-hero-style-4 .hero-title,
.ut-hero-style-6 .hero-title,
.ut-hero-style-7 .hero-title  {
	padding:5px;
}
.ut-hero-style-9 .hero-title,
.ut-hero-style-10 .hero-title {
    border:none;
    padding:0;   
}
.hero-second-btn {
    margin-top:10px;
}

/* Header Styles */

.pt-style-1 .page-title, .pt-style-1 .section-title {
	background:none;
}
.pt-style-1 .page-title span, .pt-style-1 .section-title span {
	padding:0;
}
.portfolio-title {
	font-size:0.857em !important;
}
#secondary {
	padding-top:0 !important;
}
.sidebar {
	padding-left:0 !important;
}
a.ut-flex-control {
    top:auto;
	bottom:0 !important;
}
.ut-half-height {
	height:100% !important;	
}
.hero-inner {
	text-align:center !important;
}
.ut-split-content-left,
.ut-split-content-right {
	padding-left:20px;
    padding-right:20px;
}
.member-photo-style-4-wrap .member-social {
    display:none;
}
.hero-holder.ut-split-hero {
    margin-top:0 !important;
}
.light .ut-left-footer-area,
.light .ut-right-footer-area {
	padding:10px;
}
.lead {
	padding:0 !important;
}
.parallax-header,
.page-header,
.section-header {
    margin-left:0 !important;
    margin-right:0 !important;
}

}

/* Tablet Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) {

.parallax-section {
	background-position:center center !important;
	background-repeat:repeat-y !important;
	/*background-attachment:fixed !important;*/
	background-size:cover !important;
}
#header-section.fullwidth {
    padding:0 10px;
}
.hero-title {
    font-size:3.571em;   
}
.ut-split-hero .hero-title {
    font-size:2.857em;
}
.portfolio-title {
	font-size:0.857em !important;
}
.ut-tablet-overlay {
	padding:50px 50px 50px;
}
.ut-left-tablet-button {
	margin-right:0;
}
.hero-second-btn {
    margin-top:10px;
    margin-left:0;
}
.lead {
	padding:0 !important;
}
.parallax-header,
.page-header,
.section-header {
    margin-left:0 !important;
    margin-right:0 !important;
}

}





::-moz-selection{ background: #FFC09A; }::selection { background:#FFC09A; }a, .ha-transparent #navigation ul li a:hover { color: #FFC09A; }.ut-language-selector a:hover { color: #FFC09A; }.ut-custom-icon-link:hover i { color: #FFC09A !important; }.ut-hide-member-details:hover, #ut-blog-navigation a:hover, .light .ut-hide-member-details, .ut-mm-button:hover:before, .ut-mm-trigger.active .ut-mm-button:before, .ut-mobile-menu a:after { color: #FFC09A; }.ut-header-light .ut-mm-button:before { color: #FFC09A; }.lead span, .entry-title span, #cancel-comment-reply-link, .member-description-style-3 .ut-member-title,.ut-twitter-rotator h2 a, .themecolor{ color: #FFC09A; }.icons-ul i, .comments-title span, .member-social a:hover, .ut-parallax-quote-title span, .ut-member-style-2 .member-description .ut-member-title { color:#FFC09A; }.about-icon, .ut-skill-overlay, .ut-dropcap-one, .ut-dropcap-two, .ut-mobile-menu a:hover, .themecolor-bg, .ut-btn.ut-pt-btn:hover, .ut-btn.dark:hover { background:#FFC09A; }blockquote, div.wpcf7-validation-errors, .ut-hero-style-5 .hero-description, #navigation ul.sub-menu, .ut-member-style-3 .member-social a:hover { border-color:#FFC09A; }.cta-section, .ut-btn.theme-btn, .ut-social-link:hover .ut-social-icon, .ut-member-style-2 .ut-so-link:hover { background:#FFC09A !important; }.ut-social-title, .ut-service-column h3 span, .ut-rq-icon{ color:#FFC09A; }.count, .ut-icon-list i { color:#FFC09A; }.client-section, .ut-portfolio-pagination.style_two a.selected:hover, .ut-portfolio-pagination.style_two a.selected, .ut-portfolio-pagination.style_two a:hover, .ut-pt-featured { background:#FFC09A !important; }ins, mark, .ut-alert.themecolor, .ut-portfolio-menu.style_two li a:hover, .ut-portfolio-menu.style_two li a.selected, .light .ut-portfolio-menu.style_two li a.selected:hover { background:#FFC09A; }.footer-content i { color:#FFC09A; }.copyright a:hover, .footer-content a:hover, .toTop:hover, .ut-footer-dark a.toTop:hover { color:#FFC09A; }blockquote span { color:#FFC09A; }.entry-meta a:hover, #secondary a:hover, .page-template-templatestemplate-archive-php a:hover { color:#FFC09A; }h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .ut-header-dark .site-logo .logo a:hover { color:#FFC09A; }a.more-link:hover, .fa-ul li .fa{ color:#FFC09A; }.ut-pt-featured-table .ut-pt-info .fa-li{ color: #FFC09A !important; }.button, input[type="submit"], input[type="button"], .dark button, .dark input[type="submit"], .dark input[type="button"], .light .button, .light input[type="submit"], .light input[type="button"] { background:#FFC09A; }.img-hover { background:rgb(57,191,209);background:rgba(57,191,209, 0.85); }.portfolio-caption { background:rgb(57,191,209);background:rgba(57,191,209, 0.85); }.team-member-details { background:rgba(57,191,209, 0.85 ); }.ut-avatar-overlay { background:rgb(57,191,209); background:rgba(57,191,209, 0.85 ); }.mejs-controls .mejs-time-rail .mejs-time-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .format-link .entry-header a { background:#FFC09A !important; }.light .ut-portfolio-menu li a:hover, .light .ut-portfolio-pagination a:hover, .light .ut-nav-tabs li a:hover, .light .ut-accordion-heading a:hover { border-color:#FFC09A !important; }.light .ut-portfolio-menu li a:hover, .light .ut-portfolio-pagination a:hover, .ut-portfolio-list li strong, .light .ut-nav-tabs li a:hover, .light .ut-accordion-heading a:hover, .ut-custom-icon a:hover i:first-child { color:#FFC09A !important; }.ut-portfolio-gallery-slider .flex-direction-nav a, .ut-gallery-slider .flex-direction-nav a, .ut-rotate-quote-alt .flex-direction-nav a, .ut-rotate-quote .flex-direction-nav a{ background:rgb(57,191,209); background:rgba(57,191,209, 0.85); }.light .ut-bs-wrap .entry-title a:hover, .light .ut-bs-wrap a:hover .entry-title{ color: #FFC09A; }.ut-rated i { color: #FFC09A; }.ut-footer-area ul.sidebar a:hover { color: #FFC09A; }.ut-footer-dark .ut-footer-area .widget_tag_cloud a:hover { color: #FFC09A!important; }.ut-footer-dark .ut-footer-area .widget_tag_cloud a:hover { border-color: #FFC09A; }.elastislide-wrapper nav span:hover { border-color: #FFC09A; }.elastislide-wrapper nav span:hover { color: #FFC09A; }.ut-footer-so li a:hover { border-color: #FFC09A; }.ut-footer-so li a:hover i { color: #FFC09A!important; }.ut-pt-wrap.ut-pt-wrap-style-2 .ut-pt-featured-table .ut-pt-header { background:#FFC09A; }.ut-pt-wrap-style-3 .ut-pt-info ul li, .ut-pt-wrap-style-3 .ut-pt-info ul, .ut-pt-wrap-style-3 .ut-pt-header, .ut-pt-wrap-style-3 .ut-btn.ut-pt-btn, .ut-pt-wrap-style-3 .ut-custom-row, .ut-pt-wrap-style-3 .ut-pt-featured-table .ut-btn { border-color:rgba(57,191,209, 0.1); }.ut-pt-wrap-style-3 .ut-btn { color:#FFC09A !important; }.ut-pt-wrap-style-3 .ut-btn { text-shadow: 0 0 40px #FFC09A, 2px 2px 3px black; }.ut-pt-wrap-style-3 .ut-pt-featured-table .ut-btn { color:#FFC09A !important; }.ut-pt-wrap-style-3 .ut-pt-featured-table .ut-btn { text-shadow: 0 0 40px #FFC09A, 2px 2px 3px black; }.ut-pt-wrap-style-3 .ut-pt-featured-table .ut-pt-title { color:#FFC09A !important; }.ut-pt-wrap-style-3 .ut-pt-featured-table .ut-pt-title { text-shadow: 0 0 40px #FFC09A, 2px 2px 3px black; }.ut-glow {color:#FFC09A;text-shadow:0 0 40px #FFC09A, 2px 2px 3px black; }.light .ut-shortcode-video-wrap .ut-video-caption { border-color:rgba(57,191,209, 1); }.light .ut-shortcode-video-wrap .ut-video-caption i { border-color:rgba(57,191,209, 0.3); }.light .ut-shortcode-video-wrap .ut-video-caption i { color:rgba(57,191,209, 0.3); }.light .ut-shortcode-video-wrap .ut-video-caption:hover i { border-color:rgba(57,191,209, 1); }.light .ut-shortcode-video-wrap .ut-video-caption:hover i { color:#FFC09A !important; }.light .ut-shortcode-video-wrap .ut-video-caption:hover i { text-shadow: 0 0 40px #FFC09A, 2px 2px 3px black; }.light .ut-video-loading { color:#FFC09A !important; }.light .ut-video-loading { text-shadow: 0 0 40px #FFC09A, 2px 2px 3px black; }.light .ut-video-caption-text { border-color:rgba(57,191,209, 1); }.js #main-content section .section-content,.js #main-content section .section-header-holder {opacity:0;}#navigation li a:hover { color:#FFC09A; }#navigation .selected, #navigation ul li.current_page_parent a.active, #navigation ul li.current-menu-ancestor a.active { color: #FFC09A; }#navigation ul li a:hover,#navigation ul.sub-menu li a:hover { color: #FFC09A; }#navigation ul.sub-menu li > a { color: #999999; }#navigation ul li.current-menu-item:not(.current_page_parent) a, #navigation ul li.current_page_item:not(.current_page_parent) a { color: #FFC09A; }#navigation ul li.current-menu-item:not(.current_page_parent) .sub-menu li a { color: #999999; }.ut-header-dark #navigation li a:hover { color:#FFC09A; }.ut-header-dark #navigation .selected,.ut-header-dark #navigation ul li.current_page_parent a.active, .ut-header-dark #navigation ul li.current-menu-ancestor a.active { color: #FFC09A; }.ut-header-dark #navigation ul li a:hover,.ut-header-dark #navigation ul.sub-menu li a:hover { color: #FFC09A; }.ut-header-dark #navigation ul.sub-menu li > a { color: #999999; }.ut-header-dark #navigation ul li.current-menu-item:not(.current_page_parent) a, .ut-header-dark #navigation ul li.current_page_item:not(.current_page_parent) a { color: #FFC09A; }.ut-header-dark #navigation ul li.current-menu-item:not(.current_page_parent) .sub-menu li a { color: #FFC09A; }.ut-loader-overlay { background: #121212}.hero-title span:not(.ut-word-rotator) { color:#FFFFFF !important; }.hero-title.ut-glow span { text-shadow: 0 0 40px #FF4D4D, 2px 2px 3px black; }body { font-family: ralewayregular, "Helvetica Neue", Helvetica, Arial, sans-serif; }h1 { font-family: ralewayregular, "Helvetica Neue", Helvetica, Arial, sans-serif; }h2 { font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }h3 { font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif; }h4 { font-family: ralewaybold, "Helvetica Neue", Helvetica, Arial, sans-serif; }h5 { font-family: ralewaybold, "Helvetica Neue", Helvetica, Arial, sans-serif; }h6 { font-family: ralewaybold, "Helvetica Neue", Helvetica, Arial, sans-serif; }.hero-title { text-transform: uppercase; }.hero-title { font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif; }.hero .parallax-overlay { background-color: rgba(44,62,80 , 0.2 ); }blockquote { font-family: ralewaylight, "Helvetica Neue", Helvetica, Arial, sans-serif; }.lead, .taxonomy-description { font-family: ralewayregular, "Helvetica Neue", Helvetica, Arial, sans-serif; }#ut-loader-logo { background-image: url(/bitmoda/bitmoda/logoBTpink.png); background-position: center center; background-repeat: no-repeat; }#lets-play-viewtrakr .parallax-overlay { padding-top:80px; padding-bottom:0px; }#lets-play-viewtrakr .ut-offset-anchor { top:-79px; }#lets-play-viewtrakr .parallax-header { padding-bottom:30px; }#lets-play-viewtrakr .section-header { padding-bottom:30px; }#lets-play-viewtrakr .parallax-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#lets-play-viewtrakr .section-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#lets-play-viewtrakr{ background-color: #000000; }#lets-play-viewtrakr .section-header.pt-style-1 .section-title span{ background-color: #000000; }#lets-play-viewtrakr .section-content { color: #ffffff; }#lets-play-viewtrakr .section-content h1 { color: #ffffff !important; }#lets-play-viewtrakr .section-content h2 { color: #ffffff !important; }#lets-play-viewtrakr .section-content h3 { color: #ffffff !important; }#lets-play-viewtrakr .section-content h4 { color: #ffffff !important; }#lets-play-viewtrakr .section-content h5 { color: #ffffff !important; }#lets-play-viewtrakr .section-content h6 { color: #ffffff !important; }#lets-play-viewtrakr .lead, #lets-play-viewtrakr .lead p { color: #ffffff; }#lets-play-viewtrakr .parallax-overlay { background-color: rgb(26,26,26); }#lets-play-viewtrakr .parallax-overlay { background-color: rgba(26,26,26 , 0.5 ); }#create-a-massive-wave{ padding-top:40px; padding-bottom:40px; }#create-a-massive-wave .ut-offset-anchor { top:-119px; }#create-a-massive-wave .parallax-header { padding-bottom:30px; }#create-a-massive-wave .section-header { padding-bottom:30px; }#create-a-massive-wave .parallax-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#create-a-massive-wave .section-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#create-a-massive-wave{ background-color: #121212; }#create-a-massive-wave .section-header.pt-style-1 .section-title span{ background-color: #121212; }#create-a-massive-wave .section-content { color: #ffffff; }#create-a-massive-wave .section-content h1 { color: #ffffff !important; }#create-a-massive-wave .section-content h2 { color: #ffffff !important; }#create-a-massive-wave .section-content h3 { color: #ffffff !important; }#create-a-massive-wave .section-content h4 { color: #ffffff !important; }#create-a-massive-wave .section-content h5 { color: #ffffff !important; }#create-a-massive-wave .section-content h6 { color: #ffffff !important; }#create-a-massive-wave .lead, #create-a-massive-wave .lead p { color: #ffffff; }#viewtrakr-quote .parallax-overlay { padding-top:160px; padding-bottom:120px; }#viewtrakr-quote .ut-offset-anchor { top:-79px; }#viewtrakr-quote .parallax-header { padding-bottom:30px; }#viewtrakr-quote .section-header { padding-bottom:30px; }#viewtrakr-quote .parallax-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#viewtrakr-quote .section-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#viewtrakr-quote .section-content { color: #ffffff; }#viewtrakr-quote .section-content h1 { color: #ffffff !important; }#viewtrakr-quote .section-content h2 { color: #ffffff !important; }#viewtrakr-quote .section-content h3 { color: #ffffff !important; }#viewtrakr-quote .section-content h4 { color: #ffffff !important; }#viewtrakr-quote .section-content h5 { color: #ffffff !important; }#viewtrakr-quote .section-content h6 { color: #ffffff !important; }#viewtrakr-quote .lead, #viewtrakr-quote .lead p { color: #ffffff; }#viewtrakr-quote .parallax-overlay { background-color: rgb(44,62,80); }#viewtrakr-quote .parallax-overlay { background-color: rgba(44,62,80 , 0.2 ); }#e-gifts-rewards .parallax-overlay { padding-top:80px; padding-bottom:0px; }#e-gifts-rewards .ut-offset-anchor { top:-79px; }#e-gifts-rewards .parallax-header { padding-bottom:30px; }#e-gifts-rewards .section-header { padding-bottom:30px; }#e-gifts-rewards .parallax-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#e-gifts-rewards .section-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#e-gifts-rewards{ background-color: #111111; }#e-gifts-rewards .section-header.pt-style-1 .section-title span{ background-color: #111111; }#e-gifts-rewards .section-content { color: #ffffff; }#e-gifts-rewards .section-content h1 { color: #FFFFFF !important; }#e-gifts-rewards .section-content h2 { color: #FFFFFF !important; }#e-gifts-rewards .section-content h3 { color: #FFFFFF !important; }#e-gifts-rewards .section-content h4 { color: #FFFFFF !important; }#e-gifts-rewards .section-content h5 { color: #FFFFFF !important; }#e-gifts-rewards .section-content h6 { color: #FFFFFF !important; }#e-gifts-rewards .lead, #e-gifts-rewards .lead p { color: #ffffff; }#e-gifts-rewards .parallax-overlay { background-color: rgb(); }#e-gifts-rewards .parallax-overlay { background-color: rgba( , 0.5 ); }#viewtrakr-partner-shops{ padding-top:20px; padding-bottom:20px; }#viewtrakr-partner-shops .ut-offset-anchor { top:-99px; }#viewtrakr-partner-shops .parallax-header { padding-bottom:30px; }#viewtrakr-partner-shops .section-header { padding-bottom:30px; }#viewtrakr-partner-shops .parallax-title{ font-family: ralewayextralight, "Helvetica Neue", Helvetica, Arial, sans-serif; }#viewtrakr-partner-shops .section-title{ font-family: ralewayextralight, "Helvetica Neue", Helvetica, Arial, sans-serif; }#viewtrakr-partner-shops{ background-color: #0D0D0D; }#viewtrakr-partner-shops .section-header.pt-style-1 .section-title span{ background-color: #0D0D0D; }#viewtrakr-testimonials .parallax-overlay { padding-top:80px; padding-bottom:60px; }#viewtrakr-testimonials .ut-offset-anchor { top:-79px; }#viewtrakr-testimonials .parallax-header { padding-bottom:30px; }#viewtrakr-testimonials .section-header { padding-bottom:30px; }#viewtrakr-testimonials .parallax-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#viewtrakr-testimonials .section-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#viewtrakr-testimonials .section-content { color: #ffffff; }#viewtrakr-testimonials .section-content h1 { color: #ffffff !important; }#viewtrakr-testimonials .section-content h2 { color: #ffffff !important; }#viewtrakr-testimonials .section-content h3 { color: #ffffff !important; }#viewtrakr-testimonials .section-content h4 { color: #ffffff !important; }#viewtrakr-testimonials .section-content h5 { color: #ffffff !important; }#viewtrakr-testimonials .section-content h6 { color: #ffffff !important; }#viewtrakr-testimonials .lead, #viewtrakr-testimonials .lead p { color: #ffffff; }#viewtrakr-testimonials .parallax-overlay { background-color: rgb(44,62,80); }#viewtrakr-testimonials .parallax-overlay { background-color: rgba(44,62,80 , 0.2 ); }#viewtrakr-get-in-the-game .parallax-overlay { padding-top:80px; padding-bottom:60px; }#viewtrakr-get-in-the-game .ut-offset-anchor { top:-79px; }#viewtrakr-get-in-the-game .parallax-header { padding-bottom:30px; }#viewtrakr-get-in-the-game .section-header { padding-bottom:30px; }#viewtrakr-get-in-the-game .parallax-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#viewtrakr-get-in-the-game .section-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#viewtrakr-get-in-the-game{ background-color: #111111; }#viewtrakr-get-in-the-game .section-header.pt-style-1 .section-title span{ background-color: #111111; }#viewtrakr-get-in-the-game .section-content { color: #ffffff; }#viewtrakr-get-in-the-game .section-content h1 { color: #ffffff !important; }#viewtrakr-get-in-the-game .section-content h2 { color: #ffffff !important; }#viewtrakr-get-in-the-game .section-content h3 { color: #ffffff !important; }#viewtrakr-get-in-the-game .section-content h4 { color: #ffffff !important; }#viewtrakr-get-in-the-game .section-content h5 { color: #ffffff !important; }#viewtrakr-get-in-the-game .section-content h6 { color: #ffffff !important; }#viewtrakr-get-in-the-game .lead, #viewtrakr-get-in-the-game .lead p { color: #ffffff; }#viewtrakr-get-in-the-game .parallax-overlay { background-color: rgb(); }#viewtrakr-get-in-the-game .parallax-overlay { background-color: rgba( , 0.2 ); }#elite-status .parallax-overlay { padding-top:80px; padding-bottom:60px; }#elite-status .ut-offset-anchor { top:-79px; }#elite-status .parallax-header { padding-bottom:30px; }#elite-status .section-header { padding-bottom:30px; }#elite-status .parallax-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#elite-status .section-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#elite-status .section-content { color: #ffffff; }#elite-status .section-content h1 { color: #ffffff !important; }#elite-status .section-content h2 { color: #ffffff !important; }#elite-status .section-content h3 { color: #ffffff !important; }#elite-status .section-content h4 { color: #ffffff !important; }#elite-status .section-content h5 { color: #ffffff !important; }#elite-status .section-content h6 { color: #ffffff !important; }#elite-status .lead, #elite-status .lead p { color: #ffffff; }#elite-status .parallax-overlay { background-color: rgb(44,62,80); }#elite-status .parallax-overlay { background-color: rgba(44,62,80 , 0.5 ); }#viewtrakr-join-the-game{ padding-top:80px; padding-bottom:60px; }#viewtrakr-join-the-game .ut-offset-anchor { top:-159px; }#viewtrakr-join-the-game .parallax-header { padding-bottom:30px; }#viewtrakr-join-the-game .section-header { padding-bottom:30px; }#viewtrakr-join-the-game .parallax-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#viewtrakr-join-the-game .section-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#viewtrakr-join-the-game{ background-color: #111111; }#viewtrakr-join-the-game .section-header.pt-style-1 .section-title span{ background-color: #111111; }#viewtrakr-join-the-game .section-content { color: #ffffff; }#viewtrakr-join-the-game .section-content h1 { color: #ffffff !important; }#viewtrakr-join-the-game .section-content h2 { color: #ffffff !important; }#viewtrakr-join-the-game .section-content h3 { color: #ffffff !important; }#viewtrakr-join-the-game .section-content h4 { color: #ffffff !important; }#viewtrakr-join-the-game .section-content h5 { color: #ffffff !important; }#viewtrakr-join-the-game .section-content h6 { color: #ffffff !important; }#viewtrakr-join-the-game .lead, #viewtrakr-join-the-game .lead p { color: #ffffff; }#contact-us{ padding-top:80px; padding-bottom:60px; }#contact-us .ut-offset-anchor { top:-159px; }#contact-us .parallax-header { padding-bottom:30px; }#contact-us .section-header { padding-bottom:30px; }#contact-us .parallax-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; }#contact-us .section-title{ font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif; } #about-brooklyn .lead p {color: #ffffff;}#about-brooklyn .section-content h3 {color: #ffffff !important;}#our-service .lead p {color: #ffffff;}#our-service .section-content h3{color: #ffffff !important;}#our-service .section-content{color: #ffffff;}#work .lead p { color: #ffffff;}#our-team .lead p { color: #ffffff;}#call-to-actiontwo .lead p {color: #ffffff;}
.touch body{
	background: url('/image_G/bg.jpg') no-repeat center center;
	background-size: cover;
}