{lang section="Admin: Tools: Import Users"}
<script type="text/javascript" src="js/min.php?flow=1&v={$app.settings.currentVersion|forURL}{if $app.config.misc.developmentMode}&debug=1{/if}"></script>
<script>
FR.roles = {$app.roles};
ScriptMgr.load({ scripts:[
	'?module=fileman&section=utils&page=translation.js&sec=Admin%3A%20Tools%3A%20Import%20Users&lang={$app.language|forURL}',
	'js/cpanel/import_users.js?v={$app.settings.currentVersion|forURL}'
]});
</script>