{lang section="Admin: Tools"}
<link type="text/css" href="js/ext/ux/statusbar/css/statusbar.css?v={$app.settings.currentVersion|forURL}" rel="stylesheet" rev="stylesheet">
<script>
	FR.users = {$app.users};
	FR.highlightLimit = {$app.settings.quota_warning_level};
</script>
<script src="?module=fileman&section=utils&page=translation.js&sec=Admin%3A%20Tools&lang={$app.language|forURL}"></script>
<script src="js/cpanel/space_quota.js?v={$app.settings.currentVersion|forURL}" type="text/javascript"></script>
<div id="users-quota-grid"></div>