.x-superboxselect {position:relative; height: auto !important; margin: 0px; overflow: hidden; padding:2px; display:block; outline: none !important;}
.x-superboxselect ul {cursor: text;}
.x-superboxselect-display-btns {padding-right: 33px !important;}
.x-superboxselect-btns {
	position: absolute;
	right: 0px;
	top: 0px;
	overflow: hidden;
}
.x-superboxselect-btns div {
	float: left;
	width: 16px;
	height: 16px;
	background-size: 16px;
	background-position: center;
	background-color: whitesmoke;
	border: 1px solid #d9d9d9;
	border-radius: 1px;
	border-top:0;
	border-right: 0;
}
.x-superboxselect-btn-clear {
	background: url(../../../../images/icons/close_gray.png) no-repeat;
	background-size: 8px !important;
}
.x-superboxselect-btn-expand {
	background: url(../../../../images/icons/trigger.png) no-repeat;
}
.x-superboxselect-btn-over {cursor: pointer;}
.x-superboxselect-btn-hide {display:none;}
.x-superboxselect li {white-space: normal !important; float: left; margin: 2px; padding: 4px;cursor: default;min-width:14px;}
.x-superboxselect-stacked li {float: none !important;}
.x-superboxselect-input input { border: none; outline: none; margin-top: 1px; margin-bottom: 1px; box-shadow:none !important;}
body.ext-ie .x-superboxselect-input input {background: none; border: none; margin-top: 3px;}
.x-superboxselect-item {max-width: 225px;position: relative; border-radius: 2px;border: 1px solid #d9d9d9; background-color: #f5f5f5; }
.x-superboxselect-item-hover {background: #cdcdcd; border: 1px solid #949494;}
.x-superboxselect-item-focus {border-color: #4d90fe; background: #eee;}
.x-superboxselect-item-close {
	position:absolute;
	top:1px;
	right:1px;
	border:1px solid silver;
	border-radius:2px;
	background: url(../../../../images/icons/close_gray.png) no-repeat;
	background-color:white;
	height: 12px;
	width: 12px;
	background-size: 6px;
	float: right;
	margin-left: 5px;
	cursor:pointer;
	background-position: center;
	display: none;
}
.x-superboxselect-item:hover .x-superboxselect-item-close {display:block;}