.select2 .selection .select2-selection .select2-selection__rendered{
	margin-top: 0px;
}
.box .summary{
	margin-left: 15px;
}
.grid-view .select2{
	min-width: 150px;
}
.content h1{
	font-size: 20px;
	margin-top: 5px;
}