@font-face {
    font-family: 'Lato';
    src: url(../fonts/LatoRegular/LatoRegular.eot);
    src: url(../fonts/LatoRegular/LatoRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/LatoRegular/LatoRegular.woff) format("woff"), url(../fonts/LatoRegular/LatoRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/LatoBold/LatoBold.eot);
    src: url(../fonts/LatoBold/LatoBold.eot?#iefix) format("embedded-opentype"), url(../fonts/LatoBold/LatoBold.woff) format("woff"), url(../fonts/LatoBold/LatoBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/LatoItalic/LatoItalic.eot);
    src: url(../fonts/LatoItalic/LatoItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/LatoItalic/LatoItalic.woff) format("woff"), url(../fonts/LatoItalic/LatoItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/LatoLight/LatoLight.eot);
    src: url(../fonts/LatoLight/LatoLight.eot?#iefix) format("embedded-opentype"), url(../fonts/LatoLight/LatoLight.woff) format("woff"), url(../fonts/LatoLight/LatoLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 300
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/LatoBoldItalic/LatoBoldItalic.eot);
    src: url(../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/LatoBoldItalic/LatoBoldItalic.woff) format("woff"), url(../fonts/LatoBoldItalic/LatoBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/LatoLightItalic/LatoLightItalic.eot);
    src: url(../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/LatoLightItalic/LatoLightItalic.woff) format("woff"), url(../fonts/LatoLightItalic/LatoLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
header {
    display: inline-block;
    width: 100%;
    margin-top: 14px
}
.container {
    display: block;
    width: 805px;
    margin: auto
}
.logo {
    display: block;
    float: left;
    width: 253px;
    height: 85px;
    margin-left: 15px;
    margin-top: 6px
}
.locations-button {
    display: block;
    float: left;
    width: 139px;
    text-decoration: none;
    margin-left: 60px
}
.locations-button span {
    width: 100%;
    height: 13px;
    color: #44619d;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 4px
}
.locations-button-icon {
    display: block;
    width: 78px;
    margin: auto
}
.right-bar {
    display: block;
    float: right;
    margin-top: 5px;
    width: 280px;
}
.personal-office-button {
    display: block;
    width: 100%;
    padding: 7px 0;
    text-align: center;
    border-radius: 3px 4px 4px 3px;
    background-color: #44619d;
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px
}
.contacts-phone-number {
    display: block;
    width: 100%;
    margin-top: 15px;
    color: #2171b8;
    text-align: center;
    font-family: 'Lato';
    font-size: 23px;
    font-weight: 400;
    line-height: 23px
}
nav {
    display: inline-block;
    width: 100%;
    margin-top: 25px
}
nav ul {
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    background-color: #44619d;
    padding: 18px 0;
    box-sizing: border-box;
    list-style: none
}
nav ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 37px
}
nav ul li:nth-of-type(1) {
    margin-left: 0
}
nav ul li a {
    color: #fff;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none
}
.banner {
    display: inline-block;
    width: 100%;
    margin-top: 29px;
    margin-bottom: 20px
}
.slider {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 4px
}
.slider ul {
    position: relative;
    left: 0;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 4025px
}
.slider ul li {
    display: block;
    width: 805px;
    height: auto;
    float: left;
    padding: 46px 51px 122px;
    box-sizing: border-box;
    background: url(../images/first-slider-background.png) center;
    background-size: cover
}
.slider li h1 {
    display: block;
    width: 100%;
    color: #fff;
    font-family: 'Lato';
    font-size: 39px;
    font-weight: 300;
    line-height: 49px;
    text-transform: uppercase
}
.slider li h2 {
    display: block;
    width: 500px;
    margin-top: 17px;
    color: #fff;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase
}
.slider li .actions {
    display: inline-block;
    width: 100%;
    margin-top: 86px
}
.slider-first-button {
    width: 218px;
    height: 50px;
    border-radius: 4px;
    background-color: #f27b47;
    padding: 18px 38px;
    color: #fff;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    text-decoration: none
}
.slider-second-button {
    border-radius: 3px 4px 4px 3px;
    border: 2px solid #fff;
    background: none;
    padding: 16px 26px;
    margin-left: 14px;
    color: #fff;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    text-decoration: none
}
.dots {
    display: block;
    margin: auto;
    margin-top: -37px;
    text-align: center
}
.dots li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: none;
    opacity: .8;
    margin-left: 16px
}
.dots a:nth-of-type(1) li {
    margin-left: 0
}
.dots a.active li {
    background: #fff
}
.contents {
    display: inline-block;
    width: 100%;
    margin-top: 22px
}
.contents .about {
    display: block;
    float: left;
    width: 480px
}
.contents .news {
    display: block;
    float: right;
    width: 296px
}
.contents .about h1,
.contents .news h1 {
    display: block;
    width: 130px;
    color: #438fc4;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400
}
.contents .about .underline,
.contents .news .underline {
    display: block;
    width: 110px;
    height: 6px;
    margin-top: 6px;
    background: #d7dde6;
    border-radius: 3px
}
.contents .about p {
    display: block;
    width: 100%;
    margin-top: 19px;
    font-family: 'Lato';
    font-size: 12px;
    color: #505050;
    font-weight: 400;
    line-height: 16px
}
.about-more-link,
.news-more-link {
    display: block;
    width: 100%;
    font-family: 'Lato';
    font-size: 12px;
    color: #dd4b6a;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 10px
}
.news .article {
    display: inline-block;
    width: 100%;
    margin-top: 18px
}
.news .article:nth-of-type(1) {
    margin-top: 20px
}
.news .article .article-icon {
    display: block;
    float: left;
    width: 40px;
    height: 40px
}
.news .article .article-description {
    display: block;
    float: right;
    width: 236px;
    color: #505050;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px
}
.advantages {
    display: inline-block;
    width: 100%;
    margin-top: 23px
}
.advantages .container {
    border-radius: 3px 4px 4px 3px;
    background-color: #ececec;
    padding: 37px 19px 23px 18px;
    box-sizing: border-box
}
.advantages h1 {
    font-family: 'Lato';
    line-height: 16px;
    color: #dd4b6a;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}
.advantages p {
    font-family: 'Lato';
    line-height: 16px;
    color: #363636;
    font-size: 14px;
    font-weight: 400;
    margin-top: 23px
}
.advantages ul {
    display: block;
    width: 100%;
    margin-top: 23px;
    list-style: none;
    list-style-type: none
}
.advantages ul li {
    position: relative;
    padding-left: 33px;
    margin-top: 20px;
    color: #505050;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px
}
.advantages ul li:before {
    position: absolute;
    margin-left: -24px;
    font-family: 'FontAwesome';
    font-size: 14px;
    content: "\f0a4";
    color: #007ab6
}
footer {
    display: inline-block;
    width: 100%;
    margin-top: 36px
}
footer .container {
    border-radius: 4px 4px 0 0;
    background-color: #424448;
    padding: 20px 32px 10px 29px;
    box-sizing: border-box
}
footer .grid {
    display: inline-block;
    width: 100%
}
footer .info {
    display: block;
    float: left;
    margin-top: 2px
}
footer .info p {
    color: #fff;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px
}
footer .sitemap {
    display: block;
    float: right;
    list-style: none
}
footer .sitemap li a {
    color: #fff;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase
}
footer .social-buttons {
    display: block;
    width: 100%;
    margin-top: 14px;
    text-align: left;
    box-sizing: border-box;
    list-style: none
}
footer .social-buttons li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 5px
}
footer .social-buttons li:nth-of-type(1) {
    margin-left: 0
}
.calculator {
    display: inline-block;
    width: 100%;
    margin-top: 30px
}
.calculator .controls {
    display: inline-block;
    width: 479px;
    text-align: center;
    box-sizing: border-box;
    list-style: none
}
.calculator .controls li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 11px;
    border-radius: 4px 4px 0 0;
    background: #000;
    background-color: #4ba1dd;
    text-align: left
}
.calculator .controls li:nth-of-type(1) {
    margin-left: 0
}
.calculator .controls li.active {
    background-color: #dd4b6a
}
.calculator .controls li a {
    display: block;
    width: 100%;
    height: auto;
    padding: 9px 35px 5px;
    text-decoration: none;
    color: #fff;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase
}
.calculator .grid {
    position: relative;
    display: none
}
.calculator .grid.active {
    display: block
}
.calculator .grid .data {
    display: block;
    width: 479px;
    height: 352px;
    padding: 20px 26px;
    box-sizing: border-box;
    border-radius: 3px 4px 4px 3px;
    background-color: #ececec
}
.calculator .grid .data input[type=range] {
    -webkit-appearance: none;
    margin: 8px 0;
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #d7dde6;
    background: linear-gradient(to right, #4ba1dd 0%, #4ba1dd 50%, #d7dde6 50%, #d7dde6 100%);
    border-radius: 2px
}
.calculator .grid .data input[type=range]:focus {
    outline: none
}
.calculator .grid .data input[type=range]::-webkit-slider-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #438fc4;
    margin-top: 0;
    cursor: pointer;
    -webkit-appearance: none
}
.calculator .grid .data input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #d7dde6;
    background: -moz-linear-gradient(left, #4ba1dd 50%, #d7dde6 0%);
    background: linear-gradient(left, #4ba1dd 50%, white 0%);
    border-radius: 2px
}
.calculator .grid .data input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #438fc4;
    margin-top: -4px;
    cursor: pointer
}
.calculator .grid .data input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #d7dde6;
    background: -ms-linear-gradient(left, #4ba1dd 50%, #d7dde6 0%);
    background: linear-gradient(left, #4ba1dd 50%, white 0%);
    border-radius: 2px
}
.calculator .grid .data input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #438fc4;
    margin-top: -4px;
    cursor: pointer
}
.calculator .grid .data input[type=range].sum {
    background: linear-gradient(to right, #4ba1dd 0%, #4ba1dd 50%, #d7dde6 50%, #d7dde6 100%)
}
.calculator .grid .data input[type=range].time {
    background: linear-gradient(to right, #4ba1dd 0%, #4ba1dd 20%, #d7dde6 20%, #d7dde6 100%)
}
.calculator .grid .calculator-bg {
    display: block;
    max-width: 100%;
    height: 352px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1
}
.calculator .grid .data h1 {
    width: 100%;
    color: #505050;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center
}
.calculator .grid .data h2 {
    display: block;
    width: 100%;
    color: #424448;
    font-family: 'Lato';
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    margin-top: 24px
}
.calculator .grid .data h3 {
    width: 100%;
    color: #424448;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    margin-top: 2px
}
.calculator .grid .data .input-group {
    display: inline-block;
    width: 100%;
    margin-top: 23px
}
.calculator .grid .data .input-group:nth-of-type(1) {
    margin-top: 29px
}
.calculator .grid .data .input-group label {
    width: 106px;
    height: 16px;
    color: #424448;
    font-family: 'Lato';
    font-size: 17px;
    line-height: 17px;
    font-weight: 700
}
.calculator .grid .data .input-group .input-field {
    display: block;
    float: left;
    width: 337px
}
.calculator .grid .data .input-group .input-details {
    display: block;
    float: right;
    width: 75px;
    text-align: left;
    color: #424448;
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 700;
    line-height: 17px
}
.calculator .grid .data .cash-button {
    display: block;
    width: 278px;
    border-radius: 4px;
    background-color: #dd4b6a;
    margin: auto;
    margin-top: 32px;
    padding: 9px 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase
}
