@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.gold-background{
  //background-image: url("/images/buy-place-backgr.png");
  //background-size: 100%;
}

  section .github-badge {
    position: absolute;
    top: 0;
    left: 0; }

  section .hv-container {
    flex-grow: 1;
    margin-bottom: 15px;
    justify-content: center; }

.basic-style {
  background-color: #EFE6E2; }
  .basic-style > h1 {
    color: #ac2222; }

p.simple-card {
  margin: 0;
  background-color: #fff;
  color: #DE5454;
  padding: 30px;
  border-radius: 7px;
  min-width: 100px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(204, 131, 103, 0.22); }

.hv-item-parent p {
  font-weight: bold;
  color: #DE5454; }

.management-hierarchy {
  background-color: #fff; }
  .management-hierarchy > h1 {
    color: #00a65a; }
  .management-hierarchy .person {
    text-align: center; }
    .management-hierarchy .person > img {
      height: 110px;
      border: 5px solid #00a65a;
      border-radius: 50%;
      overflow: hidden;
      background-color: #00a65a; }
    .management-hierarchy .person > .name {
      white-space: nowrap;
      background-color: #00a65a;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: normal;
      color: #fff;
      margin: 0;
      position: relative; }
      .management-hierarchy .person > .name b {
        color: #fff; }
      .management-hierarchy .person > .name:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 8px;
        background-color: #00a65a;
        left: 50%;
        top: 4px;
        transform: translateY(-100%); }

.hv-wrapper {
  display: flex; }
  .hv-wrapper .hv-item {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto; }
    .hv-wrapper .hv-item .hv-item-parent {
      margin-bottom: 50px;
      position: relative;
      display: flex;
      justify-content: center; }
      .hv-wrapper .hv-item .parent11:after, .hv-wrapper .hv-item .parent12:after , .hv-wrapper .hv-item .parent1:after{
        position: absolute;
        content: '';
        width: 2px;
        bottom: 0;
        left: 50%;
        background-color: #00a65a;
        transform: translateY(100%); }
    .hv-wrapper .hv-item .hv-item-children {
      display: flex;
      justify-content: center; }
.hv-wrapper .hv-item .hv-item-children .hv-item-child {
  padding: 0 15px;
  position: relative; }

@media (max-width: 1330px) {
  .hv-wrapper .hv-item .hv-item-children .hv-item-child {
    padding: 0 5px;
  }
}
@media (max-width: 930px) {
  .hv-wrapper .hv-item .hv-item-children .hv-item-child {
    padding: 0px;
  }
}
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:before, .hv-wrapper .hv-item .hv-item-children .hv-item-child:after {
          content: '';
          position: absolute;
          background-color: #00a65a;
          left: 0; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:before {
          left: 50%;
          top: 0;
          transform: translateY(-100%);
          width: 2px;
          height: 25px; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:after {
          top: -25px;
          //transform: translateY(-100%);
          height: 2px;
          width: 100%; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:first-child:after {
          left: 50%;
          width: 50%; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:last-child:after {
          width: calc(50% + 1px); }


label{
	font-weight: normal;
}
.logo-lg{
	margin-top: 7px;
}
.form-group img{
  cursor: pointer;
}
.datepicker table td, .datepicker table th{
  font-size: 12px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  margin-top: 1px;
}
.select2-selection__clear{
  margin-top: -3px;
}
.modal-radio span{
  margin-left: 5px;
  margin-right: 15px;
}
.userInfoPartial .close{
  float: right;
}
#search-output td{
  cursor: pointer;
}
#search-output td:hover{
  background-color: #f5f5f5;
}
.banner-body{
  text-align: center;
  background-size: cover;
  overflow: hidden;
}
.banner-body img{
  margin: 15px;
  max-width: 100%;
}
.banners .box-header h3{
  font-size: 14px;
}
.banners textarea{
  resize: none;
}
.box .box-title i.fa{
  margin-right: 8px;
}
.form-group .mce-panel{
  border-color: #d2d6de;
}
.box .textarea{
  width: 100%;
}
.field-response-img1, .field-response-img2, .field-response-img3{
  margin-top: 13px;
}
.box-body tr th{
  font-size: 13px;
}
.ticketTable tr{
  cursor: pointer;
}
.ticketTable tr:hover{
  background-color: #f5f5f5;
}
.modalMessage h3{
  text-align: center;
}
.matrixPlaces tr{
  cursor: pointer;
  font-size: 13px;
}
.matrixPlaces tr:hover{
  background-color: #f5f5f5;
}
.ticektMessageWrap .btn-success{
  height: 34px;
}
.person{
  cursor: pointer;
  width: 165px;
}
.timeline li{
  cursor: pointer;
  margin-bottom: 60px;
}
.timeline li img{
  border: 1px solid #00a65a;
}
.timeline::before{
  background: #00a65a none repeat scroll 0 0;
}
.timeline li a img{
    background: #d2d6de none repeat scroll 0 0;
    border-radius: 50%;
    color: #666;
    font-size: 15px;
    height: 40px;
    left: 13px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
}
.timeline{
  margin: 0 0 0px;
  width: 9%;
}

span.tooltips {
  position: relative;
  display: block;
}

span.tooltips .box:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #d81b60;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
span.tooltips .box:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0; height: 0;
  border-top: 10px solid #FFF;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
span:hover.tooltips .box {
    bottom: 30px;
    height: 160px;
    left: -76%;
    margin-left: 0;
    opacity: 0.9;
    top: -168px;
    visibility: visible;
    z-index: 999;
}
span.tooltips .box {
  position: absolute;
  width:400px;
  color: #292929;
  background: #FFF;
  border: 2px solid #d81b60;
  line-height: 60px;
  text-align: center;
  visibility: hidden;
  border-radius: 5px;
  box-shadow: 2px 1px 5px #808080;
}

.tooltips .nav-stacked > li {
    border-left: 3px solid transparent;
    border-radius: 0;
    border-top: 0 none;
    color: #444;
}
.tooltips .nav > li {
    display: block;
    padding: 10px 15px;
    position: relative;
}
.parent12::after{
  height: 25px;
}
.parent11::after{
  height: 25px;
}
.parent1::after{
  height: 25px;
}
.input-group tr{
  margin: 5px;
}
.text-center{
  text-align: center;
}
.text-trancpancy{
  text-align: justify;
}
.eventTable tr td{
  font-size: 13px;
}
.color-big-red{
  color: #dd4b39;
  font-size: 20px;
}
.page-success .active a{
  background-color: #00a65a;
  border-color: #00a65a;
}
.ticketTable tr td{
  font-size: 13px;
}
.bigTooltipe .badge{
  font-size: 16px;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.modalPaymentBuyLevel .modal-body {
    background-image: url("/images/level_up.jpg");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 50% auto;
    padding-bottom: 50px;
}
#payment-grid .box-header{
  height: 50px;
}
#payment-grid .pagination{
  margin: 0px;
}
.support-message .btn{
  margin-top: 25px;
}
.support-message .form-control{
  height: 28px;
}
.stat .icon{
  top: 15px;
}
.paymentButtonAsTable button{
  width: 140px;
  text-align: left;
}
.grid-view .pagination{
  margin-top: 0px;
  margin-bottom: 0px;
}
.grid-view .box-header{
  height: 46px;
}
.auth-clients{
  margin-top: 20px;
}
.auth-clients .col-xs-4{
  float: none;
}
.auth-icon{
  float: left;
}

.chat .item > .message{
  margin-bottom: 30px;
}
.user-places li{
  width: 125px;
}
.field-matrixusersettingform-active {
    margin-bottom: 3px;
    margin-top: 9px;
}
.checkPlaces{
  display: block;
    min-height: 30px
}
.icheckbox_minimal-red{
  margin-right: 4px;
}
.field-matrixusersettingform-sort, .field-matrixusersettingform-user_login, .field-matrixusersettingform-matrix_slug, .field-matrixusersettingform-matrix_root_slug{
  display: none;
}
.additionPaymentInfo tr td, .additionPaymentInfo tr td p{
  font-size: 12px;
}