/* Blurred backgrounds */

.blurred-bg-1 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-1.jpg');
}
.blurred-bg-2 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-2.jpg');
}
.blurred-bg-3 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-3.jpg');
}
.blurred-bg-4 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-4.jpg');
}
.blurred-bg-5 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-5.jpg');
}
.blurred-bg-6 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-6.jpg');
}
.blurred-bg-7 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-7.jpg');
}
.blurred-bg-8 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-8.jpg');
}
.blurred-bg-9 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-9.jpg');
}
.blurred-bg-10 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-10.jpg');
}
.blurred-bg-11 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-11.jpg');
}
.blurred-bg-12 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-12.jpg');
}
.blurred-bg-13 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-13.jpg');
}
.blurred-bg-14 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-14.jpg');
}
.blurred-bg-15 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-15.jpg');
}
.blurred-bg-16 {
    background-image: url('/cryptofund/image-resources/blurred-bg/blurred-bg-16.jpg');
}
/* Polygon backgrounds */

.poly-bg-1 {
    background-image: url('/cryptofund/image-resources/poly-bg/poly-bg-1.jpg');
}
.poly-bg-2 {
    background-image: url('/cryptofund/image-resources/poly-bg/poly-bg-2.jpg');
}
.poly-bg-3 {
    background-image: url('/cryptofund/image-resources/poly-bg/poly-bg-3.jpg');
}
.poly-bg-4 {
    background-image: url('/cryptofund/image-resources/poly-bg/poly-bg-4.jpg');
}
.poly-bg-5 {
    background-image: url('/cryptofund/image-resources/poly-bg/poly-bg-5.jpg');
}
.poly-bg-6 {
    background-image: url('/cryptofund/image-resources/poly-bg/poly-bg-6.jpg');
}
.poly-bg-7 {
    background-image: url('/cryptofund/image-resources/poly-bg/poly-bg-7.jpg');
}
.poly-bg-8 {
    background-image: url('/cryptofund/image-resources/poly-bg/poly-bg-8.jpg');
}
.poly-bg-9 {
    background-image: url('/cryptofund/image-resources/poly-bg/poly-bg-9.jpg');
}
.poly-bg-10 {
    background-image: url('/cryptofund/image-resources/poly-bg/poly-bg-10.jpg');
}
/* Blurred images */

.blurred-img-1 {
    background-image: url('/cryptofund/image-resources/blurred-img/blurred-img-1.jpg');
}
.blurred-img-2 {
    background-image: url('/cryptofund/image-resources/blurred-img/blurred-img-2.jpg');
}
.blurred-img-3 {
    background-image: url('/cryptofund/image-resources/blurred-img/blurred-img-3.jpg');
}
.blurred-img-4 {
    background-image: url('/cryptofund/image-resources/blurred-img/blurred-img-4.jpg');
}
.blurred-img-5 {
    background-image: url('/cryptofund/image-resources/blurred-img/blurred-img-5.jpg');
}
/* Full images */

.full-bg-1 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-1.jpg');
}
.full-bg-2 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-2.jpg');
}
.full-bg-3 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-3.jpg');
}
.full-bg-4 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-4.jpg');
}
.full-bg-5 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-5.jpg');
}
.full-bg-6 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-6.jpg');
}
.full-bg-7 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-7.jpg');
}
.full-bg-8 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-8.jpg');
}
.full-bg-9 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-9.jpg');
}
.full-bg-10 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-10.jpg');
}
.full-bg-11 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-11.jpg');
}
.full-bg-12 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-12.jpg');
}
.full-bg-13 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-13.jpg');
}
.full-bg-14 {
    background-image: url('/cryptofund/image-resources/full-bg/full-bg-14.jpg');
}
/* Pattern backgrounds */

.pattern-bg-1 {
    background-image: url('/cryptofund/image-resources/pattern-bg/pattern-bg-1.png');
}
.pattern-bg-2 {
    background-image: url('/cryptofund/image-resources/pattern-bg/pattern-bg-2.png');
}
.pattern-bg-3 {
    background-image: url('/cryptofund/image-resources/pattern-bg/pattern-bg-3.png');
}
.pattern-bg-4 {
    background-image: url('/cryptofund/image-resources/pattern-bg/pattern-bg-4.png');
}
.pattern-bg-5 {
    background-image: url('/cryptofund/image-resources/pattern-bg/pattern-bg-5.png');
}
.pattern-bg-6 {
    background-image: url('/cryptofund/image-resources/pattern-bg/pattern-bg-6.png');
}
.pattern-bg-7 {
    background-image: url('/cryptofund/image-resources/pattern-bg/pattern-bg-7.png');
}
.pattern-bg-8 {
    background-image: url('/cryptofund/image-resources/pattern-bg/pattern-bg-8.png');
}
.pattern-bg-9 {
    background-image: url('/cryptofund/image-resources/pattern-bg/pattern-bg-9.png');
}
.pattern-bg-10 {
    background-image: url('/cryptofund/image-resources/pattern-bg/pattern-bg-10.png');
}

/* Gradients */

.bg-gradient-1,
.bg-gradient-2,
.bg-gradient-3,
.bg-gradient-4,
.bg-gradient-5,
.bg-gradient-6,
.bg-gradient-7,
.bg-gradient-8,
.bg-gradient-9 {
    background-color: transparent !important;
}

.bg-gradient-1 {
    background: radial-gradient(circle at 8.75% 8.45%, #003973, transparent 100%),radial-gradient(circle at 94.06% 82.83%, #E5E5BE, transparent 100%),radial-gradient(circle at 50% 50%, #668cc2, #668cc2 100%);
}
.bg-gradient-2 {
    background: radial-gradient(circle at 1.98% 3.00%, #348F50, transparent 100%),radial-gradient(circle at 98.02% 98.00%, #56B4D3, transparent 100%),radial-gradient(circle at 50% 50%, #668cc2, #668cc2 100%);
}
.bg-gradient-3 {
    background: radial-gradient(circle at 1.98% 74.02%, #E55D87, transparent 100%),radial-gradient(circle at 98.02% 35.97%, #5FC3E4, transparent 100%),radial-gradient(circle at 50% 50%, #0cc285, #0cc285 100%);
}
.bg-gradient-4 {
    background: radial-gradient(circle at 1.98% 2.00%, #B993D6, transparent 100%),radial-gradient(circle at 98.02% 92.01%, #8CA6DB, transparent 100%),radial-gradient(circle at 50% 50%, #0cc285, #0cc285 100%);
}
.bg-gradient-5 {
    background: radial-gradient(circle at 1.98% 89.01%, #7474BF, transparent 100%),radial-gradient(circle at 98.02% 21.98%, #348AC7, transparent 100%),radial-gradient(circle at 50% 50%, #0cc285, #0cc285 100%);
}
.bg-gradient-6 {
    background: radial-gradient(circle at 1.98% 40.96%, #00c6ff, transparent 100%),radial-gradient(circle at 98.02% 52.04%, #0072ff, transparent 100%),radial-gradient(circle at 50% 50%, #0cc285, #0cc285 100%);
}
.bg-gradient-7 {
    background: radial-gradient(circle at 1.98% 85.01%, #134E5E, transparent 100%),radial-gradient(circle at 98.02% 18.98%, #71B280, transparent 100%),radial-gradient(circle at 50% 50%, #0cc285, #0cc285 100%);
}
.bg-gradient-8 {
    background: radial-gradient(circle at 1.98% 20.98%, #4b6cb7, transparent 100%),radial-gradient(circle at 98.02% 20.98%, #182848, transparent 100%),radial-gradient(circle at 50% 50%, #0cc285, #0cc285 100%);
}
.bg-gradient-9 {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c));
    background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#008fe2', endColorstr='#00b29c', GradientType=1);
}