.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.loaded .node,
.Treant.loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 3px; height: 3px; display: block; border: 1px solid black; position: absolute; top: 1px; right: 1px; cursor: pointer; }
.Treant .collapsed .collapse-switch { background-color: #868DEE; }
.Treant > .node img {
    border: 4px solid #507299;
    border-radius: 60px;
    display: block;
    margin: 0 auto;
    width: 80px;
    cursor: pointer;
    margin-top: -2px; 
}

.chartTree { 
    height: 470px; 
    margin: 5px; 
    border: 1px solid #dfe8f1;
    -webkit-box-shadow: inset 3px 3px 20px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 3px 3px 20px -14px rgba(0,0,0,0.75);
    box-shadow: inset 3px 3px 20px -14px rgba(0,0,0,0.75);
}
.Treant > .node {  }

.node-name { font-weight: bold;}

.nodeExample1 {

    background-color: #ffffff;
    height: 120px;
    width: 120px;
    font-family: Tahoma;
    font-size: 12px;
}
.nodeExample1 p{
    display: block;
    text-align: center;
    background-color: #507299;
    border-radius: 3px;
    color: white;
    padding-top: 3px;
    margin-top: -3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.gray {
    background-color: #909090;
}

.light-gray {
    background-color: #D3D3C7;
}

.blue {
    background-color: #A2BDFD;
}
